.home {
    min-height: 100vh; 
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 8rem;
    opacity: 0.9; 
  }

.home .home-titulo {
    font-size: 2.75rem;
}

.home .home-subtitulo {
    font-size: 1.25rem;
}
  
.home-foto {
    width: 15rem;
    border-radius: 50%;
}

.section{
  background-color: #F5F5F5;
  padding-top: 4rem;
}

.titulo-projetos{
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: bold;
    padding-bottom: 4rem ;
}
.projeto-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}
.projeto-box:hover img {
  transform: scale(1.3);
}
.projeto-img {
  display: block;
  overflow: hidden;
  cursor: pointer; 
}
.projeto-img img {
  transition: all 1.5s;
  width: 100%;
}  
.projeto-titulo {
  font-size: 1.2rem;
}
.projeto-detalhes {
  padding: 2rem 3% 1rem 4%;
}
.projeto-detalhes .projeto-adendo {
  color: #4e4e4e;
  font-size: 0.8rem;
}
.tecnologias,
.projeto-categoria{
  font-weight:600;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.sobre-img img{
  border-radius: 20%;
  width: 15rem;
}

.espaco-linha{
  line-height: 2rem;
}

.p-sobre{
  padding-top: 1rem;
}

.section-habilidades,
.section-formacaoEx{
  background-color: #fff;;
}

.carousel {
  max-height: 400px;
  overflow: hidden;
  margin: 30px 0;
}

.carousel img {
  width: auto;
}

.section-habilidades,
.section-sobre{
  padding-bottom: 4rem;
}

.section-formacaoEx{
  padding-bottom: 3rem;
}

.titulo-contatos{
  font-size: 2.25rem;
    line-height: 2rem;
    font-weight: bold;
}

.section-contato{
  padding-top: 2.5em;
}

.icon-accordion,
.icon-contato{
font-size: 2em;
padding: 0.1em 0;
}

ul li{
  list-style: none;
  margin-bottom: 0.5em;
}

footer{
padding-top: 2em;
}

